body {
    display: flex;
    flex-flow: row;
}



section {
    border-style: solid;
    min-height: 82vh;
    width: 40vw;
}

.dashboard {
    border-style: solid;
    min-height: 82vh;
    width: 50vw;
}
.details {
    border-style: solid;
    min-height: 82vh;
    margin-left: 2vw;
    width: 45.5vw;
}
article {
    border-style: solid;
    margin: 0.5em;
    display: flex;
    text-align: center;
}
article header, article main {
    display: flex;
    flex-flow: column;
}

.title {
    background-color: rgb(190, 190, 190);    
    width: 55vw;
}
.date {
    background-color: rgb(145, 145, 145);
    width: 20vw;
}
.status {
    background-color: rgb(170, 170, 170);
    width: 20vw;
}

.btnissue {
    margin-top: 0.5em;
    height: 5vh;
    width: 26vw;
}
.btnsolvedIssues {
    margin-left: 0.5em;
    margin-top: 0.5em;
    height: 5vh;
    width: 23.5vw;
}
button:hover {
    cursor: pointer;
}

header {
    border-style: solid;
    display: flex;
    width: 100%;
}
main {
    border-style: solid;
    margin: 0.2em;
    padding: 0.1em;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}
.issueInformation {
    display: flex;
    flex-direction: column;
}

.makeCommentGUI {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}