* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 0.6vw;
}
*::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}
*::-webkit-scrollbar-thumb {
    background: rgb(205, 205, 205);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
}

body {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-flow: row;
    height: 100%;
    overflow: hidden;
}
.contentFlow {
    display: flex;
    flex-flow: column;
}

nav {
    background-color: rgb(15, 106, 11);
    display: flex;
    flex-flow: row;
    width: 100vw;
}

.leftContainer {
    margin-left: 1vw;
    margin-top: 0.65vh;
}
.rightContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.65vh;
}

.projectsHeader {
    color: rgb(255, 255, 255);
    font-size: 2.3vw;
    margin-left: 1vw;
    margin-right: 0.5vw;
    /*width: 79.5vw;*/
    height: 5.7vh;
}

.projectName {
    color: rgb(255, 255, 255);
    font-size: 2.3vw;
    /*width: 79.5vw;*/
    height: 5.7vh;
}
.goBack {
    font-size: 2.3vw;
    margin-left: 1vw;
    margin-right: 0.5vw;
}
.goBack::before {
    content: '\21D0';
  /*content: '\2190';
    content: '\21C7';
    content: '\21DA';
    content: '\21E6';*/
}

header {
    width: 87.5vw;
    height: 5.7vh;
    display: flex;
    flex-flow: row;
}

.altLink {    
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.altLink:hover, .altLink:focus {
    transition: 0.2s;
    text-decoration: none;
    color: rgb(222, 222, 222);
}
.altLink:active {
    transition: 0.1s;
    color: rgb(255, 255, 255);
}

.logOutButton {
    background-color: rgb(32, 36, 70);
    color: rgb(255, 255, 255);
    transition: 0.2s;
    width: 8vw;
    border-radius: 10%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    /*margin-left: 8vw;*/
    border-style: none;
    font-size: 1.41vw;
}
.logOutButton:hover, .logOutButton:focus {
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 17, 255);
    background-color: rgb(22, 30, 139);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.logOutButton:active {
    border-color: rgb(3, 17, 212);
    background-color: rgb(32, 36, 70);
    transition: 0.1s;
}

section {
    border-style: solid;
    border-width: thin;
    background-color: rgb(255, 255, 255);
}
article {
    border-style: solid;
    border-width: thin;
    margin: 0.5em;
    display: flex;
    text-align: center;
}

.compactDashboard {
    min-height: 87vh;
    max-height: 87vh;
    width: 50vw;
    overflow: auto;
    overflow-x: hidden;
}
.fullViewDashboard {
    min-height: 87vh;
    max-height: 87vh;
    width: 98vw;
    overflow: auto;
    overflow-x: hidden;
}

.details {
    height: 77.8vh;
    min-height: 60.8vh;
    max-height: 77.8vh;
    margin-left: 2vw;
    width: 45.5vw;
    overflow: auto;
    overflow-x: hidden;
}
.addDetails {
    min-height: 87.1vh;
    max-height: 87.1vh;
    margin-left: 2vw;
    width: 45.5vw;
    overflow: auto;
    overflow-x: hidden;
}

.fullViewProjectTitle {
    width: 98vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewTitle {
    width: 55vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullViewTitle {
    width: 43.82vw;
    margin-top: -0.3em;
    margin-bottom: 0.4em;
    font-size: 2vw;
    color: rgb(61, 121, 173);
}

.previewAuthor {
    width: 10vw;
    font-size: 1.2vw;
    padding-top: 1vh;
    border-left-style: solid;
    border-width: thin;
}
.fullViewAuthor {
    width: 14vw;
    font-size: 1.2vw;
    border-left-style: solid;
    border-top-style: solid;
    border-width: thin;
}

.previewDate {
    width: 10vw;
    font-size: 1.2vw;
    border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullViewDate {
    width: 11vw;
    font-size: 1.2vw;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: thin;
}

.previewStatus {
    width: 10vw;
    display: flex;
    flex-flow: row;
    border-style: none;
    align-items: center;
}
.fullViewStatus {
    display: flex;
    flex-flow: row;
    border-style: none;
    align-items: center;
}

.statusDot {
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    /* Fixed size instead of relative size to window
    height: 1.8em;
    width: 1.7em;
    */
    height: 3.8vh;
    width: 2.05vw;
    margin-top: 0.15vh;
    margin-bottom: 0.15vh;
    margin-left: 1.7vw;
    overflow: hidden;
}

.wip {
    background-color: rgb(0, 255, 17);
    border-color: rgb(0, 220, 15);
    transition: 0.2s;
}
.wip:hover {
    background-color: rgb(108, 255, 71);
    transition: 0.2s;
}

.onHold {
    background-color: rgb(247, 255, 0);
    border-color: rgb(213, 220, 0);
    transition: 0.2s;
}
.onHold:hover {
    background-color: rgb(250, 255, 100);
    transition: 0.2s;
}

.closed {
    background-color: rgb(255, 0, 0);
    border-color: rgb(220, 0, 0);
    transition: 0.2s;
}
.closed:hover {
    background-color: rgb(250, 71, 71);
    transition: 0.2s;
}

.unassigned {
    background-color: rgb(193, 193, 193);
    border-color: rgb(185, 185, 185);
    transition: 0.2s;
}
.unassigned:hover {
    background-color: rgb(196, 196, 196);
    transition: 0.2s;
}

.statusSelectionIndicator::after {
    content: '\25C0';
    margin-left: 0.5em;
}
.open .statusSelectionIndicator {
    transform: rotate(-90deg);
    transition: 0.1s;
}
.statusSelectionIndicator {
    transition: 0.1s;
}

.currentStatusContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: unset;
    border-style: unset;
    padding: unset;
    padding-right: 0.5vw;
    height: 6.2vh;
}
.addonStatusContainerWide {
    width: 7.6vw;
    padding-right: unset;
    padding-left: 0.8vw;
}

.dropdown-menu {
    min-width: 5.7vw;
    margin: unset;
    padding-bottom: unset;
    border-radius: unset;
    transition: all 0.5s;
}
.addonDropdownCenteringWide {
    margin-left: 0.74vw;
}

.statusLabel {
    width: 8vw;
  /*height: 9vh;*/
    font-size: 1.2vw;
    border-top-style: solid;
    border-right-style: solid;
    border-width: thin;
    margin-bottom: unset;
}

.status .wip:after, .status .onHold:after, .status .closed:after, .status .unassigned:after {
    font-size: 1.2vw;
    opacity: 0;
    width: 250px;
    transition: 0.7s;
    animation-delay: 2s;
    position: absolute;
    top: -35px;
    left: -170px;
    z-index: 1;
}
.status .wip:after {
    content: "";
}
.status .onHold:after {
    content: "";
}
.status .closed:after {
    content: "";
    width: 185px;
    left: -110px;
}
.status .unassigned:after {
    content: "";
    width: 300px;
    left: -220px;
}
.status .wip:hover:after, .status .onHold:hover:after, .status .closed:hover:after, .status .unassigned:hover:after {
    opacity: 1;
    transition-delay: 0.6s;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 250px;
    position: absolute;
    top: -11px;
    left: -170px;
    z-index: 1;
}
.status .wip:hover:after {
    content: "wip - work is in progress on this issue";
}
.status .onHold:hover:after {
    content: "onHold - work is paused on this issue";
}
.status .closed:hover:after {
    content: "closed - this issue is closed";
    width: 185px;
    left: -110px;
}
.status .unassigned:hover:after {
    content: "unassigned - no work is assigned to this issue";
    width: 300px;
    left: -220px;
}

.fullViewStatus .wip:after, .fullViewStatus .onHold:after, .fullViewStatus .closed:after, .fullViewStatus .unassigned:after {
    font-size: 1.2vw;
    opacity: 0;
    /*width: 250px;*/
    width: 10vw;
    transition: 0.7s;
    animation-delay: 2s;
    position: absolute;
    top: -35px;
    left: -170px;
    z-index: 1;
}
.fullViewStatus .wip:after {
    content: "";
    width: 45vw;
    left: -19vw;
}
.fullViewStatus .onHold:after {
    content: "";
    width: 45vw;
    left: -19vw;
}
.fullViewStatus .closed:after {
    content: "";
    width: 45vw;
    left: -19vw;
}
.fullViewStatus .unassigned:after {
    content: "";
    width: 45vw;
    left: -19vw;
}
.fullViewStatus .wip:hover:after, .fullViewStatus .onHold:hover:after, .fullViewStatus .closed:hover:after, .fullViewStatus .unassigned:hover:after {
    opacity: 1;
    transition-delay: 0.6s;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 45vw;
    position: absolute;
    top: -11px;
    left: -19vw;
    z-index: 1;
}
.fullViewStatus .wip:hover:after {
    content: "wip - work is in progress on this issue";
}
.fullViewStatus .onHold:hover:after {
    content: "onHold - work is paused on this issue";
}
.fullViewStatus .closed:hover:after {
    content: "closed - this issue is closed";
}
.fullViewStatus .unassigned:hover:after {
    content: "unassigned - no work is assigned to this issue";
}

.itemRow {
    display: flex;
    flex-flow: row;
}
.btnIssue {
    margin-top: 0.5em;
    height: 5vh;
    width: 26vw;
}
.btnClosedIssues {
    margin-top: 0.5em;
    height: 5vh;
    width: 12.4vw;
}
.btnAllIssues {
    margin-top: 0.5em;
    height: 5vh;
    width: 11.1vw;
    margin-left: 0.5vw;
}

button {
    background-color: rgb(255, 255, 255);
}
button:hover {
    background-color: rgb(233, 232, 234);
    cursor: pointer;
}

.verticalSplitLine {
    border-right-style: groove;
    /*height: 95vh;*/
    margin-left: 1vw;
    margin-right: -1vw;
}

.desc {
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-width: thin;
    text-align: start;
    padding: 0.1em;
    /*max-height: 37vh;*/
    white-space: break-spaces;
}

.projectDesc {
    margin-top: -0.5em;
    margin-left: 0;
    border-top-style: none;
    justify-content: center;
    white-space: break-spaces;
}
.projectDate {
    width: 12vw;
    font-size: 1.2vw;
    border-style: solid;
    border-bottom-style: none;
    border-width: thin;
}
.projectAlignment {
    margin-top: 0;
    margin-left: 0;
}

.btnProjectFullView {
    margin-top: 0.5em;
    height: 5vh;
    width: 98vw;
}
.btnProjectCompact {
    margin-top: 0.5em;
    height: 5vh;
    width: 50vw;
}

.issueInformation {
    display: flex;
    flex-direction: column;
    border-style: none;
}

.commentSection {
    border-style: none;
    flex-flow: column;
    margin-top: 1.5em;
    margin-bottom: 0.3em;
    /*min-height: 35.4vh;
    max-height: 70.2vh;*/
}
.entry {
    border-width: thin;
    margin: 0 0.3em 1em 0.3em;
    width: 42.1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.entry[data-entry-type='comment'] {
    border-style: solid;
}
.entry .content {
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: start;
    white-space: break-spaces;
}
.entry .date {
    text-align: left;
    font-size: 0.9em;
}

.rightPanelBottomBox {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 0.3vh;
}
textarea.commentInputArea {
    height: 9vh;
    resize: none;
    transition: 0.3s;
}
textarea.commentInputArea:focus {
    transition: 0.3s;
    margin-top: -15vh;
    height: 24vh;
}
.btnSend {
    cursor: pointer;
    margin-top: 0.4em;
    height: 5vh;
}

.errorMessage {
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 0.4em;
    text-align: center;
}
.successMessage {
    color: rgb(0, 255, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(0, 255, 0, 0.8);
    margin-bottom: 0.4em;
    text-align: center;
}


.titleCreation {
    width: 43.82vw;
    margin-top: -0.3vh;
    margin-bottom: 0.7vh;
    font-size: 2vw;
    text-align: center;
}
.descCreation textarea {
    resize: none;
    width: 43.82vw;
    min-height: 61vh;
    max-height: 61vh;
}
.projectDescCreation textarea {
    resize: none;
    text-align: center;
    width: 43.82vw;
    min-height: 31vh;
    max-height: 61vh;
}
.descCreationLabel {
    display: flex;
    justify-content: center;
    margin-bottom: -0.1vh;
}

.btnEditPost {
    border-style: solid;
    margin-bottom: -2.3vh;
    /*margin-bottom: -2vh;*/
    color: rgb(235, 235, 235);
    background-color: rgb(22, 30, 139);
    transition: 0.2s;
    min-height: 9.5vh;
    /*min-height: 9.3vh;*/
    width: 5.4vw;
    border-color: rgb(0, 17, 255);
    /*font-size: 1vw;*/
    font-size: 1.1vw;
}
.btnEditPost:hover, .btnEditPost:focus {
    transition: 0.2s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 25, 230);
    border-color: rgb(0, 15, 230);
}
.btnEditPost:active {
    transition: 0.1s;
    color: rgb(200, 200, 200);
}

.btnDelete {
    border-style: none;
    background-color: rgb(220, 0, 0);
    color:rgb(247, 247, 247);
    transition: 0.2s;
    height: 9.6vh;
    /*height: 9.3vh;*/
    margin-bottom: -2vh;
    border-left-style: double;
    /*font-size: 1vw;*/
    font-size: 1.1vw;
}
.btnDelete:hover, .btnDelete:focus {
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}
.btnDelete:active {
    color:rgb(220, 0, 0);
}

.commentInfo {
    display: flex;
    flex-flow: row;
    width: 42vw;
    justify-content: space-between;
}

.btnDeleteComment {
    border-style: none;
    background-color: rgb(220, 0, 0);
    color:rgb(233, 233, 233);
    transition: 0.2s;
    font-size: 1.1vw;
    margin-bottom: 0;
}
.btnDeleteComment:hover, .btnDeleteComment:focus {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(255, 0, 0);
    color:rgb(255, 255, 255);
    border-color: rgb(255, 0, 0);
}
.btnDelete:active {
    color:rgb(220, 220, 220);
    background-color: rgb(255, 0, 0);
}

a {
    text-decoration: none;
    transition: 0.25s;
}
a:hover, a:focus {
    text-decoration: none;
    transition: 0.25s;
    color: rgb(55, 86, 117);
}
a:active {
    transition: 0.1s;
    color: rgb(17, 0, 255);
}
/*
@media screen and (max-width: 740px) {
    body {
        overflow: unset;
    }
    .contentFlow {
        display: unset;
    }
    .projectName {
        font-size: 4vw;
    }
    .leftContainer {
        margin-left: 2.2vw;
        margin-top: 1vh;
    }
    .rightContainer {
        margin-top: unset;
    }
    .dashboard {
        width: 79vw;
    }
    .btnIssue {
        width: unset;
    }
    .btnClosedIssues {
        width: unset;
    }

    .verticalSplitLine {
        display: none;
    }

    .details {
        margin-left: 2.2vw;
        width: unset;
    }
    .logOutButton {
        margin-right: unset;
        margin-left: unset;
        margin-top: unset;
        font-size: 3vw;
    }
}
*/